
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dvh</title>
</head>
<body>
    <h1>Error Integridad datos.</h1>
    <h2>Comuniquese con un administrador.</h2>
    <div> 
        <img src="~/images/integridad.jpg" alt="integridad" width="500" height="300"> 
    </div>
</body>
</html>
