
@{
    ViewBag.Title = "CambioIdioma";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="text-align:center">
    <h2>Idioma cambiado Correctamente</h2>
    <img src="~/images/languaje.png" />
</div>