<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TranslationError</title>
</head>
<body>
    <hgroup>
        <h1>Error</h1>

    </hgroup>
    <div style="text-align:center">
        <img src="~/Media/Error.png" />
        <h3>We have created the languaje but...</h3>
        <h4>There was a problem with Google translation</h4>
        <h4>Please verify the labels for this languaje</h4>

    </div>

</body>
</html>
